/* L'option less est là pour donner accés au CSS présent dans bootstrap directement dans LESS
   Une autre option serait de prendre la version LESS de bootstrap, le but ici n'est pas d'apprendre les mixins de bootstrap mais bien les rudiments de LESS.
*/
@import (less) "vendors/bootstrap.css";

// Mixin
.trop-mignon(@color) {
  background-color: @color;
}

// Variables
@main-color: #c7ddef;

// Ruleset
@seconde-color-node: {
  // Mixin call
  .trop-mignon(#ce8483);
};

// Nesting
body {
  // Extend
  &:extend(.container);
  header {
    &:extend(.row);
    h1, h2 {
      &:extend(.col-xs-6);
    }
    h1 {
      .trop-mignon(@main-color);
    }
    h2 {
      // Ruleset call
      @seconde-color-node();
    }
  }
}